
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

@font-face {
    font-family: "Romla";
    src: url("Romla-ax6A5.otf");
}

.logo{
    font-family: Romla;
    font-size: 2.1rem;
    font-weight: 700;
    letter-spacing: 0.6rem;
    color: black !important;
    text-decoration: none;
}

.first-menu{
    display: flex;
    margin-top: 1rem;
}
.first-menu li{
    list-style: none;
    margin: 0rem 1rem 0rem 1rem;
}
.second-menu{margin-top: 0.5rem;}

.navbar-expand-lg{
    height: 65px; 
    box-shadow: 0 0 6px rgb(58, 58, 58);
    background-color: white;
    padding: 0.6rem;
}
input{
    background: none;
    border-radius: none;
    border: none;
    box-shadow: none;
    outline: none;
}





body{
    font-family: "Raleway";
    font-weight: 500;
    background-color: #f2f2f2;
}

h1{
    font-family: "Cormorant Garamond";
}
small{
    font-family: "Raleway";
    font-weight: 400;
    font-size: 0.8rem !important;
}
p{
    font-family: "Raleway";
    font-weight: 500;
}

.shoe-box{
    border-radius: 0;
    margin-bottom: 0.7rem;
}

td{
    width: 300px;
}


#dropDown{
    border: none;
    background: none;
    margin: 0rem;
}

.slide-wrapper{
    /* height: 100vh; */
    margin-bottom: 3rem;
}
.text-container{
    color: rgb(238, 238, 238);
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
   
}
.text-container h1{
    font-size: 4rem;
    font-family: serif;
    font-weight:700;
    text-shadow: 0 0 6px rgb(0, 0, 0);
    font-family: "Cormorant Garamond";
}

#carouselExampleIndicators{
    background-color: black !important;
}
.carousel-item img{
    opacity: 0.4;
    width: 100%;

}
.carousel-one{
    background-image: url("../images/michael-lee-5Z9bgfRZLLE-unsplash.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 80vh;
}
.carousel-two{
    background-image: url("../images/andrew-neel-HqtYwlY9dxs-unsplash.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 80vh;
}
.carousel-three{
    background-image: url("../images/clem-onojeghuo-iuvLYv85r40-unsplash.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 80vh;
}


.colors-options{
    min-height: 100px;
    background-color: rgb(216, 216, 216);
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.color{
    height: 25px;
    width:25px;
    background-color: green;
    border-radius: 50%;
    margin:1.5rem ;
    border: 2px white solid;
}
.color1{
    height: 25px;
    width:25px;
    background-color: brown;
    border-radius: 50%;
    margin:1.5rem ;
    border: 2px white solid;
}
.color2{
    height: 25px;
    width:25px;
    background-color: black;
    border-radius: 50%;
    margin:1.5rem ;
    border: 2px white solid;
}
.color3{
    height: 25px;
    width:25px;
    background-color: red;
    border-radius: 50%;
    margin:1.5rem ;
    border: 2px white solid;
}


@media screen and (max-width:500px) {
    .container-fluid{
        width: 100% !important;
    }
    .shoe-card-body{
        height: 200px;
    }
    .shoe-box-wrapper{
        margin:0rem;
        padding:0rem
    }
}

@media screen and (max-width:650px) {

    .text-container{
        width: 90%;
    }
}